@(movies : List[Movie], message: String)(implicit req: RequestHeader, flash : Flash, session : Session)

@main("My Own MDB") {


    <button id="charge">Charge from CSV</button>

     <div>
        <table id="theMovies" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Movie</th>
                </tr>
            </thead>

            <tbody>
                @for(movie <- movies){
                <tr>
                    <td>
                        <span>
                            <i title="je veux le voir!" id="bookmark-heart-@movie.title" class="icon-white icon-heart"></i>
                            <i title="je ne veux pas le voir!" id="bookmark-no-@movie.title" class="icon-white icon-eye-close"></i>
                        </span>
                    </td>
                    <td>
                        <a href="@routes.Application.show(movie.title)">
                            @movie.title
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <a>
            <i class="icon-plus"></i>
            Ajouter un nouveau titre
        </a>
    </div>
    
    <div>
        @helper.form(action=routes.Application.upload, 'enctype -> "multipart/form-data"){
            <input type="file" name="moviesFile">
            <input type="submit">
        }
    </div>


    <script type="text/javascript">

        $("i[id^=bookmark]").click(function(){
            if($(this).hasClass("icon-white")){
                // sélectionné
                $(this).removeClass("icon-white");
            }else {
                $(this).addClass("icon-white");
            }
        });

        $("#test").tipsy()
        $("i[id^=bookmark]").tipsy()
    </script>
}
