@(title: String)(content: Html)(implicit req: RequestHeader, flash : Flash, session :Session)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
        <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/tipsy.css")'>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
           <script src="@routes.Assets.at("javascripts/jquery.tipsy.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
        @helper.javascriptRouter("Router")(routes.javascript.Application.charge)
    </head>
    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="@routes.Application.index()">MyOwnMDB</a>
                    @if(session.get("userConnected").isDefined){
                        <span>Bienvenue @session.get("userConnected")</span>
                        <span><a href="@routes.LoginController.logout">Logout</a></span>
                    }
                </div>
            </div>
        </div>

        <div class="container">

            @if(flash.get("success").isDefined){
                <div class="alert alert-success">
                @flash.get("success")
                </div>
            }
            @if(flash.get("error").isDefined){
                <div class="alert alert-error">
                @flash.get("error")
                </div>
            }

            @content

            <div>
                <a href="@routes.SessionController.showSession">Voir les votes</a>
            </div>

            <div id="voteEvents">
            </div>
        </div>

    </body>
</html>